@model IQueryable<Group>
@{
    ViewData["Title"] = "Groups";
}
<h2>Persisted Applicants</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Group Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int i = 1;
            foreach (var applicant in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@applicant.GroupName</td>
                    <td><button class="btn btn-outline-primary">Edit</button></td>
                    <td><button class="btn btn-outline-danger">Delete</button></td>
                </tr>
                i += 1;
            }
        }
    </tbody>
</table>