@model IQueryable<Group>
@{
    ViewData["Title"] = "GetAllGroups";
}
<h2>Persisted Applicants</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Group Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int i = 1;
            foreach (var group in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>
                        <a asp-controller="Applicants" asp-action="GetApplicantsByGroupName" asp-route-id="@group.Id" class="btn btn-outline-dark">
                            @group.GroupName
                        </a>
                    </td>
                    <td>
                        <a asp-controller="Groups" asp-action="Edit" asp-route-id="@group.Id" class="btn btn-outline-primary">
                            Edit
                        </a>
                    </td>
                </tr>
                i += 1;
            }
        }
    </tbody>
</table>