@{
    ViewData["Title"] = "Home Page";
}
<div calss="upload">
    <div class ="notice">
        <h3>Notice! Your Excel file should be like this.</h3>
        <img src="~/images/example.png" class="noteImg" asp-append-version="true" />
    </div>
    <div class="uploadExcel">
        <form method="post" asp-controller="Excels" asp-action="ImportExternalApplicant" enctype="multipart/form-data" class="form-inline">
            <div>
                <input type="file" name="formFile" id="formFile" accept=".xlsx" required>
                <button type="submit" class="btn btn-outline-success btn-">Upload</button>
            </div>
        </form>
    </div>
</div>
